In [63]:
import pandas as pd

df2 = pd.read_csv("../data/linkedin-job-postings/jobs/job_fields.csv")
df3 = pd.read_csv("../data/linkedin-job-postings/jobs/salaries.csv")
df = pd.read_csv("../data/linkedin-job-postings/postings.csv")

In [4]:
df2.head()

       job_id field_abr
0  3884428798      MRKT
1  3884428798        PR
2  3884428798       WRT
3  3887473071      SALE
4  3887465684       FIN

In [5]:
df2[(df2['field_abr'] == 'SALE') | (df2['field_abr'] == 'FIN')]

            job_id field_abr
3       3887473071      SALE
4       3887465684       FIN
5       3887465684      SALE
6       3887467939      SALE
11      3887471274      SALE
...            ...       ...
213723  3902878632      SALE
213725  3904753247       FIN
213740  3904747008      SALE
213751  3906266248      SALE
213766  3902883233      SALE

[31015 rows x 2 columns]

In [6]:
df2['field_abr'].value_counts()

field_abr
IT      26137
SALE    22475
MGMT    20861
MNFC    18185
HCPR    17369
BD      14290
ENG     13009
OTHR    12608
FIN      8540
MRKT     5525
ACCT     5461
ADM      4860
CUST     4292
PRJM     3997
ANLS     3858
RSCH     2986
HR       2647
LGL      2371
CNSL     2338
EDU      2290
DSGN     2244
TRNG     2243
GENB     1984
QA       1791
ART      1664
WRT      1443
PRDM     1362
PR       1298
SUPL     1180
STRA     1178
SCI       813
PROD      762
ADVR      681
PRCH      610
DIST      416
Name: count, dtype: int64

In [7]:
df.head()

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,...,Requirements: \n\nWe are seeking a College or ...,1.713398e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,38480.0,8540.0,34021.0
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",NaN,1.0,NaN,...,NaN,1.712858e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,83200.0,80521.0,8069.0
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,NaN,...,We are currently accepting resumes for FOH - A...,1.713278e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,55000.0,45202.0,39061.0
3,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,175000.0,YEARLY,"New Hyde Park, NY",766262.0,16.0,NaN,...,This position requires a baseline understandin...,1.712896e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,157500.0,11040.0,36059.0
4,35982263,NaN,Service Technician,Looking for HVAC service tech with experience ...,80000.0,YEARLY,"Burlington, IA",NaN,3.0,NaN,...,NaN,1.713452e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,70000.0,52601.0,19057.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 31 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      123849 non-null  int64
 1   company_name                122130 non-null  object
 2   title                       123849 non-null  object
 3   description                 123842 non-null  object
 4   max_salary                  29793 non-null   float64
 5   pay_period                  36073 non-null   object
 6   location                    123849 non-null  object
 7   company_id                  122132 non-null  float64
 8   views                       122160 non-null  float64
 9   med_salary                  6280 non-null    float64
 10  min_salary                  29793 non-null   float64
 11  formatted_work_type         123849 non-null  object
 12  applies                     23320 non-null   float64
 13  original_listed_time        123849 non-null  float64
 14  remote_allowed              15246 non-null   float64
 15  job_posting_url             123849 non-null  object
 16  application_url             87184 non-null   object
 17  application_type            123849 non-null  object
 18  expiry                      123849 non-null  float64
 19  closed_time                 1073 non-null    float64
 20  formatted_experience_level  94440 non-null   object
 21  skills_desc                 2439 non-null    object
 22  listed_time                 123849 non-null  float64
 23  posting_domain              83881 non-null   object
 24  sponsored                   123849 non-null  int64
 25  work_type                   123849 non-null  object
 26  currency                    36073 non-null   object
 27  compensation_type           36073 non-null   object
 28  normalized_salary           36073 non-null   float64
 29  zip_code                    102977 non-null  float64
 30  fips                        96434 non-null   float64
dtypes: float64(14), int64(2), object(15)
memory usage: 29.3+ MB

In [64]:
df['skills_desc'].value_counts()

skills_desc
This position requires the following skills: Elder care, Healthcare, Hospice Care, Patient Care                                                     28
This position requires the following skills: Advocacy, Community Outreach, CSR / Volunteer Coordination, Fundraising, Lobbying, Public Relations    19
Optometry, Contact Lenses, Glaucoma, Ocular Disease, Eye Exams, Cataract, Low Vision, Diabetes, Eyewear                                             19
This position requires the following skills: Animal Care / Handling, Animal Therapy, Elder care, Healthcare, Hospice Care, Patient Care             14
This position requires the following skills: Accounting                                                                                             14
                                                                                                                                                    ..
NET , Azure , Service Now                                                                                                                            1
AS/400                                                                                                                                               1
Windows Server Admin                                                                                                                                 1
Python , Data Modeling , Machine Learning                                                                                                            1
\n\n\n\nPI2695e5371553-29463-34128767                                                                                                                1
Name: count, Length: 2212, dtype: int64

In [65]:
df['skills_clean'] = df['skills_desc'].str.replace(r'This position requires the following skills:\s*', '', regex=True)

In [66]:
df['skills_clean'].value_counts()

skills_clean
Elder care, Healthcare, Hospice Care, Patient Care                                                         28
Advocacy, Community Outreach, CSR / Volunteer Coordination, Fundraising, Lobbying, Public Relations        19
Optometry, Contact Lenses, Glaucoma, Ocular Disease, Eye Exams, Cataract, Low Vision, Diabetes, Eyewear    19
Animal Care / Handling, Animal Therapy, Elder care, Healthcare, Hospice Care, Patient Care                 14
Accounting                                                                                                 14
                                                                                                           ..
NET , Azure , Service Now                                                                                   1
AS/400                                                                                                      1
Windows Server Admin                                                                                        1
Python , Data Modeling , Machine Learning                                                                   1
\n\n\n\nPI2695e5371553-29463-34128767                                                                       1
Name: count, Length: 2212, dtype: int64

In [69]:
skills_series = df['skills_clean'].dropna().str.split(',').explode().str.strip()

In [70]:
skills_series.value_counts()

skills_clean
People Skills                                                                                                                                                                                                                      88
Community Outreach                                                                                                                                                                                                                 78
Healthcare                                                                                                                                                                                                                         66
Hospice Care                                                                                                                                                                                                                       62
Patient Care                                                                                                                                                                                                                       56
                                                                                                                                                                                                                                   ..
Sap Fico                                                                                                                                                                                                                            1
Sap S4 Hana                                                                                                                                                                                                                         1
Sap Bw                                                                                                                                                                                                                              1
PIec67495102d0-29463-34295729                                                                                                                                                                                                       1
We are currently accepting resumes for FOH - Asisstant Restaurant Management with a strong focus on delivering high quality customer service. Prefer 1 to 3 years FOH management experience. Candidate should be a self-starter     1
Name: count, Length: 4950, dtype: int64

In [71]:
skills_series = skills_series.str.lower()
top_skills = skills_series.value_counts().head(20)
print(top_skills)

skills_clean
people skills                     88
community outreach                78
healthcare                        67
hospice care                      62
patient care                      56
fundraising                       55
verbal / written communication    53
elder care                        52
csr / volunteer coordination      45
customer service                  43
disaster response                 42
religion                          42
national origin                   41
color                             41
sexual orientation                40
networking                        38
relationship building             38
public relations                  34
organization                      33
age                               28
Name: count, dtype: int64

In [72]:
irrelevant = ['color', 'religion', 'age', 'national origin', 'sexual orientation', 'sex', 'disability']
skills_series = skills_series[~skills_series.isin(irrelevant)]
top_skills = skills_series.value_counts().head(30)
print(top_skills)

skills_clean
people skills                           88
community outreach                      78
healthcare                              67
hospice care                            62
patient care                            56
fundraising                             55
verbal / written communication          53
elder care                              52
csr / volunteer coordination            45
customer service                        43
disaster response                       42
networking                              38
relationship building                   38
public relations                        34
organization                            33
animal care / handling                  27
dental                                  27
sql                                     27
marketing & communications (mar/com)    27
accounting                              26
advocacy                                26
java                                    26
animal therapy                          26
multi-tasking                           25
teaching / instruction                  23
interactive/social media/seo            22
excel                                   22
transportation                          21
python                                  20
lobbying                                19
Name: count, dtype: int64

In [73]:
skills_series = skills_series.replace({
    'verbal / written communication': 'communication',
    'csr / volunteer coordination': 'volunteer coordination',
    'elder care': 'healthcare',
})
top_skills = skills_series.value_counts().head(30)
print(top_skills)

skills_clean
healthcare                              119
people skills                            88
community outreach                       78
hospice care                             62
communication                            60
patient care                             56
fundraising                              55
volunteer coordination                   45
customer service                         43
disaster response                        42
relationship building                    38
networking                               38
public relations                         34
organization                             33
marketing & communications (mar/com)     27
sql                                      27
animal care / handling                   27
dental                                   27
accounting                               26
java                                     26
animal therapy                           26
advocacy                                 26
multi-tasking                            25
teaching / instruction                   23
interactive/social media/seo             22
excel                                    22
transportation                           21
python                                   20
project management                       19
lobbying                                 19
Name: count, dtype: int64

In [74]:
df[['title', 'med_salary', 'max_salary', 'min_salary', 'pay_period', 'location']].head(20)

,title,med_salary,max_salary,min_salary,pay_period,location
0,Marketing Coordinator,NaN,20.0,17.0,HOURLY,"Princeton, NJ"
1,Mental Health Therapist/Counselor,NaN,50.0,30.0,HOURLY,"Fort Collins, CO"
2,Assitant Restaurant Manager,NaN,65000.0,45000.0,YEARLY,"Cincinnati, OH"
3,Senior Elder Law / Trusts and Estates Associat...,NaN,175000.0,140000.0,YEARLY,"New Hyde Park, NY"
4,Service Technician,NaN,80000.0,60000.0,YEARLY,"Burlington, IA"
5,Economic Development and Planning Intern,NaN,20.0,14.0,HOURLY,"Raleigh, NC"
6,Producer,NaN,300000.0,60000.0,YEARLY,United States
7,Building Engineer,NaN,120000.0,90000.0,YEARLY,"San Francisco, CA"
8,Respiratory Therapist,NaN,NaN,NaN,NaN,"Omaha, NE"
9,Worship Leader,350.0,NaN,NaN,MONTHLY,"Palm Bay, FL"
10,Inside Customer Service Associate,NaN,NaN,NaN,NaN,"Saginaw, MI"
11,Project Architect,NaN,NaN,NaN,NaN,"St Louis, MO"
12,Appalachian Highlands Women's Business Center,NaN,NaN,NaN,NaN,"Kingsport, TN"
13,Structural Engineer,NaN,NaN,NaN,NaN,"San Mateo, CA"
14,Senior Product Marketing Manager,NaN,NaN,NaN,NaN,United States
15,Osteogenic Loading Coach,NaN,NaN,NaN,NaN,"Anchorage, AK"
16,Administrative Coordinator,25.0,NaN,NaN,HOURLY,"Cleveland, OH"
17,Customer Service / Reservationist,NaN,19.0,18.0,HOURLY,"Providence, RI"
18,"Content Writer, Communications",NaN,NaN,NaN,NaN,Greater Philadelphia
19,Controller,NaN,NaN,NaN,NaN,"Birmingham, AL"

In [75]:
df.head(10)

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips,skills_clean
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,...,1.713398e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,38480.0,8540.0,34021.0,Requirements: \n\nWe are seeking a College or ...
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",NaN,1.0,NaN,...,1.712858e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,83200.0,80521.0,8069.0,NaN
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,NaN,...,1.713278e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,55000.0,45202.0,39061.0,We are currently accepting resumes for FOH - A...
3,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,175000.0,YEARLY,"New Hyde Park, NY",766262.0,16.0,NaN,...,1.712896e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,157500.0,11040.0,36059.0,This position requires a baseline understandin...
4,35982263,NaN,Service Technician,Looking for HVAC service tech with experience ...,80000.0,YEARLY,"Burlington, IA",NaN,3.0,NaN,...,1.713452e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,70000.0,52601.0,19057.0,NaN
5,91700727,Downtown Raleigh Alliance,Economic Development and Planning Intern,Job summary:The Economic Development & Plannin...,20.0,HOURLY,"Raleigh, NC",1481176.0,9.0,NaN,...,1.713456e+12,NaN,0,INTERNSHIP,USD,BASE_SALARY,35360.0,27601.0,37183.0,NaN
6,103254301,Raw Cereal,Producer,Company DescriptionRaw Cereal is a creative de...,300000.0,YEARLY,United States,81942316.0,7.0,NaN,...,1.712861e+12,NaN,0,CONTRACT,USD,BASE_SALARY,180000.0,NaN,NaN,NaN
7,112576855,NaN,Building Engineer,Summary: Due to the pending retirement of our ...,120000.0,YEARLY,"San Francisco, CA",NaN,2.0,NaN,...,1.712443e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,105000.0,94101.0,6075.0,NaN
8,1218575,Children's Nebraska,Respiratory Therapist,"At Childrenâ€™s, the regionâ€™s only full-service ...",NaN,NaN,"Omaha, NE",721189.0,3.0,NaN,...,1.712348e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,68102.0,31055.0,â€¢ Requires the ability to communicate effectiv...
9,2264355,Bay West Church,Worship Leader,It is an exciting time to be a part of our chu...,NaN,MONTHLY,"Palm Bay, FL",28631247.0,5.0,350.0,...,1.712456e+12,NaN,0,PART_TIME,USD,BASE_SALARY,4200.0,32905.0,12009.0,"Knowledge, Skills and Abilities: 1. Proficient..."

In [147]:
df['med_salary'] = df['med_salary'].fillna((df['min_salary'] + df['max_salary']) / 2)

In [148]:
df[['title', 'med_salary', 'max_salary', 'min_salary', 'pay_period', 'location']].head(20)

,title,med_salary,max_salary,min_salary,pay_period,location
0,Marketing Coordinator,18.5,20.0,17.0,HOURLY,"Princeton, NJ"
1,Mental Health Therapist/Counselor,40.0,50.0,30.0,HOURLY,"Fort Collins, CO"
2,Assitant Restaurant Manager,55000.0,65000.0,45000.0,YEARLY,"Cincinnati, OH"
3,Senior Elder Law / Trusts and Estates Associat...,157500.0,175000.0,140000.0,YEARLY,"New Hyde Park, NY"
4,Service Technician,70000.0,80000.0,60000.0,YEARLY,"Burlington, IA"
5,Economic Development and Planning Intern,17.0,20.0,14.0,HOURLY,"Raleigh, NC"
6,Producer,180000.0,300000.0,60000.0,YEARLY,United States
7,Building Engineer,105000.0,120000.0,90000.0,YEARLY,"San Francisco, CA"
8,Respiratory Therapist,NaN,NaN,NaN,NaN,"Omaha, NE"
9,Worship Leader,350.0,NaN,NaN,MONTHLY,"Palm Bay, FL"
10,Inside Customer Service Associate,NaN,NaN,NaN,NaN,"Saginaw, MI"
11,Project Architect,NaN,NaN,NaN,NaN,"St Louis, MO"
12,Appalachian Highlands Women's Business Center,NaN,NaN,NaN,NaN,"Kingsport, TN"
13,Structural Engineer,NaN,NaN,NaN,NaN,"San Mateo, CA"
14,Senior Product Marketing Manager,NaN,NaN,NaN,NaN,United States
15,Osteogenic Loading Coach,NaN,NaN,NaN,NaN,"Anchorage, AK"
16,Administrative Coordinator,25.0,NaN,NaN,HOURLY,"Cleveland, OH"
17,Customer Service / Reservationist,18.5,19.0,18.0,HOURLY,"Providence, RI"
18,"Content Writer, Communications",NaN,NaN,NaN,NaN,Greater Philadelphia
19,Controller,NaN,NaN,NaN,NaN,"Birmingham, AL"

In [149]:
df_salary = df.dropna(subset=['title', 'location', 'med_salary', 'pay_period'])

In [150]:
df_salary[['title', 'med_salary', 'max_salary', 'min_salary', 'pay_period', 'location']].head(20)

,title,med_salary,max_salary,min_salary,pay_period,location
0,Marketing Coordinator,18.5,20.0,17.0,HOURLY,"Princeton, NJ"
1,Mental Health Therapist/Counselor,40.0,50.0,30.0,HOURLY,"Fort Collins, CO"
2,Assitant Restaurant Manager,55000.0,65000.0,45000.0,YEARLY,"Cincinnati, OH"
3,Senior Elder Law / Trusts and Estates Associat...,157500.0,175000.0,140000.0,YEARLY,"New Hyde Park, NY"
4,Service Technician,70000.0,80000.0,60000.0,YEARLY,"Burlington, IA"
5,Economic Development and Planning Intern,17.0,20.0,14.0,HOURLY,"Raleigh, NC"
6,Producer,180000.0,300000.0,60000.0,YEARLY,United States
7,Building Engineer,105000.0,120000.0,90000.0,YEARLY,"San Francisco, CA"
9,Worship Leader,350.0,NaN,NaN,MONTHLY,"Palm Bay, FL"
16,Administrative Coordinator,25.0,NaN,NaN,HOURLY,"Cleveland, OH"
17,Customer Service / Reservationist,18.5,19.0,18.0,HOURLY,"Providence, RI"
28,General Laborer,21.0,24.0,18.0,HOURLY,"Erie, PA"
30,Administrative Assistant,23.0,NaN,NaN,HOURLY,"Woburn, MA"
35,Marketing & Office Coordinator,65000.0,75000.0,55000.0,YEARLY,"Denver, CO"
36,Software Support Specialist,62500.0,65000.0,60000.0,YEARLY,"McLean, VA"
37,Coordinator for Multicultural Student Organiza...,4439.0,4817.0,4061.0,MONTHLY,"Pullman, WA"
41,Chief Operating Officer,100000.0,110000.0,90000.0,YEARLY,"Anchorage, AK"
42,Associate Attorney,120000.0,135000.0,105000.0,YEARLY,"Kailua-Kona, HI"
45,TREC licensed Professional Home Inspector,26.0,28.0,24.0,HOURLY,Dallas-Fort Worth Metroplex
46,"Manager, Retail Pharmacy",137500.0,165000.0,110000.0,YEARLY,"Tucson, AZ"

In [151]:
print("Before filtering & cleaning:", df.shape)
print("After filtering & cleaning:", df_salary.shape)

Before filtering & cleaning: (123849, 32)
After filtering & cleaning: (36073, 32)

In [152]:
avg_salary_title = (df_salary.groupby('title')['med_salary'].mean().sort_values(ascending=False).head(10))
print(avg_salary_title)

title
Marketing Director                                                                                                                                                                                          1.478479e+07
Corporate, Litigation, Intellectual Property , Real Estate, Labor & Employment, Government Contracts, Healthcare, Trusts and Estates / Tax Partner & Groups w/ Portable Business for Top BIGLAW Firm        9.250000e+05
Partner (& Groups w/ Portable Business for Top BIGLAW Firm - Corporate, Litigation, Intellectual Property , Real Estate, Labor & Employment, Government Contracts, Healthcare, Trusts and Estates / Tax)    9.250000e+05
Head of Front Office Technology                                                                                                                                                                             8.750000e+05
Senior Sales Account Executive - Enterprise                                                                                                                                                                 7.500000e+05
Labor & Employment Partner                                                                                                                                                                                  7.500000e+05
Trust and Estates Partner                                                                                                                                                                                   7.500000e+05
Litigation Partner                                                                                                                                                                                          7.500000e+05
Oral Surgeon - DDS/DMD                                                                                                                                                                                      7.500000e+05
Intellectual Property Partner                                                                                                                                                                               7.500000e+05
Name: med_salary, dtype: float64

In [153]:
def normalize_salary(row):
    if row['pay_period'] == 'HOURLY':
        return row['med_salary'] * 40 * 52   
    elif row['pay_period'] == 'MONTHLY':
        return row['med_salary'] * 12        
    else:  
        return row['med_salary']

df_clean['salary_yearly'] = df_salary.apply(normalize_salary, axis=1)

avg_salary_title = (df_clean.groupby('title')['salary_yearly'].mean().sort_values(ascending=False).head(10))
print(avg_salary_title)

title
Chief Product Officer, Slack                                499000.0
Otorhinolaryngologist                                       488668.0
Technical Program Manager L6 - Cloud Games                  482500.0
Technical Program Manager 6 - Game SDK and Services         482500.0
In-House Counsel at D. E. Shaw Research                     475000.0
Physician Anesthesiology                                    475000.0
Senior Blockchain Engineer (Rust & Solana) - 100% Remote    475000.0
Healthcare Operations Consultant                            468000.0
Healthcare Financial Consultant                             468000.0
SDS Support Technician                                      468000.0
Name: salary_yearly, dtype: float64

In [154]:
df_clean[['title', 'med_salary', 'salary_yearly', 'location']].head(20)

,title,med_salary,salary_yearly,location
0,Marketing Coordinator,18.5,38480.0,"Princeton, NJ"
1,Mental Health Therapist/Counselor,40.0,83200.0,"Fort Collins, CO"
2,Assitant Restaurant Manager,55000.0,55000.0,"Cincinnati, OH"
3,Senior Elder Law / Trusts and Estates Associat...,157500.0,157500.0,"New Hyde Park, NY"
4,Service Technician,70000.0,70000.0,"Burlington, IA"
5,Economic Development and Planning Intern,17.0,35360.0,"Raleigh, NC"
6,Producer,180000.0,180000.0,United States
7,Building Engineer,105000.0,105000.0,"San Francisco, CA"
9,Worship Leader,350.0,4200.0,"Palm Bay, FL"
16,Administrative Coordinator,25.0,52000.0,"Cleveland, OH"
17,Customer Service / Reservationist,18.5,38480.0,"Providence, RI"
28,General Laborer,21.0,43680.0,"Erie, PA"
30,Administrative Assistant,23.0,47840.0,"Woburn, MA"
35,Marketing & Office Coordinator,65000.0,65000.0,"Denver, CO"
36,Software Support Specialist,62500.0,62500.0,"McLean, VA"
37,Coordinator for Multicultural Student Organiza...,4439.0,53268.0,"Pullman, WA"
41,Chief Operating Officer,100000.0,100000.0,"Anchorage, AK"
42,Associate Attorney,120000.0,120000.0,"Kailua-Kona, HI"
45,TREC licensed Professional Home Inspector,26.0,54080.0,Dallas-Fort Worth Metroplex
46,"Manager, Retail Pharmacy",137500.0,137500.0,"Tucson, AZ"

In [155]:
top_titles = (df_clean.groupby('title')['salary_yearly'].mean().sort_values(ascending=False).head(10).reset_index())
print(top_titles)

                                               title  salary_yearly
0                       Chief Product Officer, Slack       499000.0
1                              Otorhinolaryngologist       488668.0
2         Technical Program Manager L6 - Cloud Games       482500.0
3  Technical Program Manager 6 - Game SDK and Ser...       482500.0
4            In-House Counsel at D. E. Shaw Research       475000.0
5                           Physician Anesthesiology       475000.0
6  Senior Blockchain Engineer (Rust & Solana) - 1...       475000.0
7                   Healthcare Operations Consultant       468000.0
8                    Healthcare Financial Consultant       468000.0
9                             SDS Support Technician       468000.0

In [156]:
top_titles['salary_yearly'] = top_titles['salary_yearly'].apply(lambda x: f"${x:,.0f}")
print(top_titles)

                                               title salary_yearly
0                       Chief Product Officer, Slack      $499,000
1                              Otorhinolaryngologist      $488,668
2         Technical Program Manager L6 - Cloud Games      $482,500
3  Technical Program Manager 6 - Game SDK and Ser...      $482,500
4            In-House Counsel at D. E. Shaw Research      $475,000
5                           Physician Anesthesiology      $475,000
6  Senior Blockchain Engineer (Rust & Solana) - 1...      $475,000
7                   Healthcare Operations Consultant      $468,000
8                    Healthcare Financial Consultant      $468,000
9                             SDS Support Technician      $468,000

In [157]:
bottom_titles = (df_clean.groupby('title')['salary_yearly'].mean().sort_values(ascending=False).tail(10).reset_index())
print(bottom_titles)

                                               title  salary_yearly
0               ACCOUNT DIRECTOR SENIOR-ENTERPRISE 1            1.0
1           Environmental Stewardship Pro Bono Coach            0.0
2                Marketing Communications Internship            0.0
3     Manager of Medical Systems Development (24-89)            0.0
4           Public Health Empowerment Pro Bono Coach            0.0
5                             Sales Consultant (B2B)            0.0
6  Volunteer Scrum Master â€“ Driving Nature Connec...            0.0
7  Ikigai-Inspired Coach â€“ CrowdDoing Pro Bono Co...            0.0
8                                     UX/UI Designer            0.0
9                Full-Stack Engineer Intern (Unpaid)            0.0

In [160]:
df_clean = df_clean[df_clean['salary_yearly'] > 1]

In [161]:
bottom_titles = (df_clean.groupby('title')['salary_yearly'].mean().sort_values(ascending=False).tail(10).reset_index())
print(bottom_titles)

                                              title  salary_yearly
0                        Recreation Assistant NF-02      17.792500
1                 Food and Beverage Attendant NA-01      17.365000
2      Recreation Assistant (Head Lifeguard) NF- 02      17.000000
3  Recreation Assistant (Facilities Operator) NF-02      16.750000
4                         Assistant Kitchen Manager      16.500000
5                              Recreation Aid NF-01      16.411667
6                 Recreation Aid (Lifeguard), NF-01      16.340000
7         Recreation Aid (Trainee-Lifeguard), NF-01      16.340000
8                 Visitor Services Assistant Intern      15.000000
9                                  Resident Manager      13.000000

In [168]:
avg_salary_location = (df_clean.groupby('location')['salary_yearly'].mean().sort_values(ascending=False).head(10))
print(avg_salary_location)

location
Chicago, Illinois, United States    475000.0
West Islip, NY                      452748.0
Beeville, TX                        425000.0
Cape Canaveral, FL                  400000.0
Augusta County, VA                  354897.0
John Day, OR                        350000.0
Highland, IL                        310000.0
Black River Falls, WI               300000.0
Banning, CA                         280500.0
Dix Hills, NY                       277413.0
Name: salary_yearly, dtype: float64

In [169]:
top_locations = (df_clean.groupby('location')['salary_yearly'].mean().sort_values(ascending=False).head(10).reset_index())
print(top_locations)

                           location  salary_yearly
0  Chicago, Illinois, United States       475000.0
1                    West Islip, NY       452748.0
2                      Beeville, TX       425000.0
3                Cape Canaveral, FL       400000.0
4                Augusta County, VA       354897.0
5                      John Day, OR       350000.0
6                      Highland, IL       310000.0
7             Black River Falls, WI       300000.0
8                       Banning, CA       280500.0
9                     Dix Hills, NY       277413.0

In [ ]:
top_locations['salary_yearly'] = top_locations['salary_yearly'].apply(lambda x: f"${x:,.0f}")
print(top_locations)