In [36]:
import pandas as pd

df2 = pd.read_csv("../data/linkedin-job-postings/jobs/job_fields.csv")
df3 = pd.read_csv("../data/linkedin-job-postings/jobs/salaries.csv")
df = pd.read_csv("../data/linkedin-job-postings/postings.csv")

In [4]:
df2.head()

       job_id field_abr
0  3884428798      MRKT
1  3884428798        PR
2  3884428798       WRT
3  3887473071      SALE
4  3887465684       FIN

In [5]:
df2[(df2["field_abr"] == "SALE") | (df2["field_abr"] == "FIN")]

            job_id field_abr
3       3887473071      SALE
4       3887465684       FIN
5       3887465684      SALE
6       3887467939      SALE
11      3887471274      SALE
...            ...       ...
213723  3902878632      SALE
213725  3904753247       FIN
213740  3904747008      SALE
213751  3906266248      SALE
213766  3902883233      SALE

[31015 rows x 2 columns]

In [6]:
df2["field_abr"].value_counts()

field_abr
IT      26137
SALE    22475
MGMT    20861
MNFC    18185
HCPR    17369
BD      14290
ENG     13009
OTHR    12608
FIN      8540
MRKT     5525
ACCT     5461
ADM      4860
CUST     4292
PRJM     3997
ANLS     3858
RSCH     2986
HR       2647
LGL      2371
CNSL     2338
EDU      2290
DSGN     2244
TRNG     2243
GENB     1984
QA       1791
ART      1664
WRT      1443
PRDM     1362
PR       1298
SUPL     1180
STRA     1178
SCI       813
PROD      762
ADVR      681
PRCH      610
DIST      416
Name: count, dtype: int64

In [7]:
df.head()

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,...,Requirements: \n\nWe are seeking a College or ...,1.713398e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,38480.0,8540.0,34021.0
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",NaN,1.0,NaN,...,NaN,1.712858e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,83200.0,80521.0,8069.0
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,NaN,...,We are currently accepting resumes for FOH - A...,1.713278e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,55000.0,45202.0,39061.0
3,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,175000.0,YEARLY,"New Hyde Park, NY",766262.0,16.0,NaN,...,This position requires a baseline understandin...,1.712896e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,157500.0,11040.0,36059.0
4,35982263,NaN,Service Technician,Looking for HVAC service tech with experience ...,80000.0,YEARLY,"Burlington, IA",NaN,3.0,NaN,...,NaN,1.713452e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,70000.0,52601.0,19057.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 31 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      123849 non-null  int64
 1   company_name                122130 non-null  object
 2   title                       123849 non-null  object
 3   description                 123842 non-null  object
 4   max_salary                  29793 non-null   float64
 5   pay_period                  36073 non-null   object
 6   location                    123849 non-null  object
 7   company_id                  122132 non-null  float64
 8   views                       122160 non-null  float64
 9   med_salary                  6280 non-null    float64
 10  min_salary                  29793 non-null   float64
 11  formatted_work_type         123849 non-null  object
 12  applies                     23320 non-null   float64
 13  original_listed_time        123849 non-null  float64
 14  remote_allowed              15246 non-null   float64
 15  job_posting_url             123849 non-null  object
 16  application_url             87184 non-null   object
 17  application_type            123849 non-null  object
 18  expiry                      123849 non-null  float64
 19  closed_time                 1073 non-null    float64
 20  formatted_experience_level  94440 non-null   object
 21  skills_desc                 2439 non-null    object
 22  listed_time                 123849 non-null  float64
 23  posting_domain              83881 non-null   object
 24  sponsored                   123849 non-null  int64
 25  work_type                   123849 non-null  object
 26  currency                    36073 non-null   object
 27  compensation_type           36073 non-null   object
 28  normalized_salary           36073 non-null   float64
 29  zip_code                    102977 non-null  float64
 30  fips                        96434 non-null   float64
dtypes: float64(14), int64(2), object(15)
memory usage: 29.3+ MB

In [10]:
df["skills_desc"].value_counts()

skills_desc
This position requires the following skills: Elder care, Healthcare, Hospice Care, Patient Care                                                     28
This position requires the following skills: Advocacy, Community Outreach, CSR / Volunteer Coordination, Fundraising, Lobbying, Public Relations    19
Optometry, Contact Lenses, Glaucoma, Ocular Disease, Eye Exams, Cataract, Low Vision, Diabetes, Eyewear                                             19
This position requires the following skills: Animal Care / Handling, Animal Therapy, Elder care, Healthcare, Hospice Care, Patient Care             14
This position requires the following skills: Accounting                                                                                             14
                                                                                                                                                    ..
NET , Azure , Service Now                                                                                                                            1
AS/400                                                                                                                                               1
Windows Server Admin                                                                                                                                 1
Python , Data Modeling , Machine Learning                                                                                                            1
\n\n\n\nPI2695e5371553-29463-34128767                                                                                                                1
Name: count, Length: 2212, dtype: int64

In [12]:
df["skills_clean"] = df["skills_desc"].str.replace(
    r"This position requires the following skills:\s*", '', regex=True
)

In [13]:
df["skills_clean"].value_counts()

skills_clean
Elder care, Healthcare, Hospice Care, Patient Care                                                         28
Advocacy, Community Outreach, CSR / Volunteer Coordination, Fundraising, Lobbying, Public Relations        19
Optometry, Contact Lenses, Glaucoma, Ocular Disease, Eye Exams, Cataract, Low Vision, Diabetes, Eyewear    19
Animal Care / Handling, Animal Therapy, Elder care, Healthcare, Hospice Care, Patient Care                 14
Accounting                                                                                                 14
                                                                                                           ..
NET , Azure , Service Now                                                                                   1
AS/400                                                                                                      1
Windows Server Admin                                                                                        1
Python , Data Modeling , Machine Learning                                                                   1
\n\n\n\nPI2695e5371553-29463-34128767                                                                       1
Name: count, Length: 2212, dtype: int64

In [14]:
skills_series = df['skills_clean'].dropna().str.split(',').explode().str.strip()

In [16]:
skills_series.value_counts()

skills_clean
People Skills                                                                                                                                                                                                                      88
Community Outreach                                                                                                                                                                                                                 78
Healthcare                                                                                                                                                                                                                         66
Hospice Care                                                                                                                                                                                                                       62
Patient Care                                                                                                                                                                                                                       56
                                                                                                                                                                                                                                   ..
Sap Fico                                                                                                                                                                                                                            1
Sap S4 Hana                                                                                                                                                                                                                         1
Sap Bw                                                                                                                                                                                                                              1
PIec67495102d0-29463-34295729                                                                                                                                                                                                       1
We are currently accepting resumes for FOH - Asisstant Restaurant Management with a strong focus on delivering high quality customer service. Prefer 1 to 3 years FOH management experience. Candidate should be a self-starter     1
Name: count, Length: 4950, dtype: int64

In [21]:
skills_series = skills_series.str.lower()
top_skills = skills_series.value_counts().head(20)
print(top_skills)

skills_clean
people skills                     88
community outreach                78
healthcare                        67
hospice care                      62
patient care                      56
fundraising                       55
verbal / written communication    53
elder care                        52
csr / volunteer coordination      45
customer service                  43
disaster response                 42
religion                          42
national origin                   41
color                             41
sexual orientation                40
networking                        38
relationship building             38
public relations                  34
organization                      33
age                               28
Name: count, dtype: int64

In [31]:
irrelevant = ['color', 'religion', 'age', 'national origin', 'sexual orientation', 'sex', 'disability']
skills_series = skills_series[~skills_series.isin(irrelevant)]
top_skills = skills_series.value_counts().head(30)
print(top_skills)

skills_clean
healthcare                              119
people skills                            88
community outreach                       78
hospice care                             62
communication                            60
patient care                             56
fundraising                              55
volunteer coordination                   45
customer service                         43
disaster response                        42
relationship building                    38
networking                               38
public relations                         34
organization                             33
marketing & communications (mar/com)     27
sql                                      27
animal care / handling                   27
dental                                   27
accounting                               26
java                                     26
animal therapy                           26
advocacy                                 26
multi-tasking                            25
teaching / instruction                   23
interactive/social media/seo             22
excel                                    22
transportation                           21
python                                   20
project management                       19
lobbying                                 19
Name: count, dtype: int64

In [32]:
skills_series = skills_series.replace({
    'verbal / written communication': 'communication',
    'csr / volunteer coordination': 'volunteer coordination',
    'elder care': 'healthcare',
})
top_skills = skills_series.value_counts().head(30)
print(top_skills)

skills_clean
healthcare                              119
people skills                            88
community outreach                       78
hospice care                             62
communication                            60
patient care                             56
fundraising                              55
volunteer coordination                   45
customer service                         43
disaster response                        42
relationship building                    38
networking                               38
public relations                         34
organization                             33
marketing & communications (mar/com)     27
sql                                      27
animal care / handling                   27
dental                                   27
accounting                               26
java                                     26
animal therapy                           26
advocacy                                 26
multi-tasking                            25
teaching / instruction                   23
interactive/social media/seo             22
excel                                    22
transportation                           21
python                                   20
project management                       19
lobbying                                 19
Name: count, dtype: int64

In [44]:
df['med_salary', 'max_salary', 'min_salary'].head(20)

KeyError: ('med_salary', 'max_salary', 'min_salary')